/*
Name: Alexander Balandin
ID: 132145194
DATA: 10/29/2020
Heroku url: https://glacial-eyrie-05995.herokuapp.com/
*/
.contactForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type="submit"] {
  background-color: rgb(105, 83, 95);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #4d3d45;
}
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.stress {
  margin-left: 19% !important;
}
.welcomeMess {
  padding: 50px;
  margin-left: 36%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.promotion img {
  width: 100%;
}
.promotion p {
  padding: 40px;
  margin-left: 38%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.information p {
  padding: 40px;
  margin-left: 38%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.infoImg li img {
  width: 99%;
}
.infoImg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
